body {
    background: linear-gradient(to right, rgb(65, 160, 243), rgb(138, 195, 255));
}

.blog {
    flex-direction: column;
    gap :10px;
    display :flex;
}
.logo {
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header {
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
    background: rgb(30, 133, 230);
    display :flex ;
    justify-content: flex-start;
    width: auto;
    height: 150px;
    gap :20px;
    border-radius: 10px;
    align-items: center;
    position: sticky;
    top: 0;
}

.title {
    background: skyblue;
    border-radius: 10px;
    display :flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
}

.src {
    font-family: Arial, Helvetica, sans-serif;
}

.judul {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.foto {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    flex-shrink: 0;
    scroll-snap-align: center;
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
}

.foto ::-webkit-scrollbar() {
    display :none;
}

.isi {
    background: linear-gradient(to right, wheat, white);
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
    border-radius: 10px;
    width: auto;
    align-items: flex-start;
}

.teks {
    font-family: Arial, Helvetica, sans-serif;
}

.coba {
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    background-color: aqua;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
}

.name {
    font-family: Arial, Helvetica, sans-serif;
}

.url {
    background: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
}

.footer {
    box-shadow: 3px 3px 5px rgb(11, 32, 73);
    background: rgb(30, 133, 230);
    display :flex ;
    justify-content: flex-start;
    width: auto;
    height: 150px;
    border-radius: 10px;
    align-items: center;
    position: sticky;
    top: 0;
}